* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* COLORS */
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;

  --danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  /* FONTS */
  --font-family: "Open Sans", sans-serif;
  --font-family-b: "Baloo 2", sans-serif;
  --font-family-l: "Leckerli One", cursive;

  --logo: 400 2.5rem/100% var(--font-family-l);

  --heading-md: 700 1.75rem/100% var(--font-family-b);
  --heading-sm: 700 1.125rem/100% var(--font-family-b);

  --body-md: 400 1rem/100% var(--font-family);
  --body-sm: 400 .875rem/100% var(--font-family);
  --body-xs: 400 .75rem/100% var(--font-family);

}

body {
  overflow: hidden;
  background-color: var(--shape-background);
}